<div class="container-card">

    <mat-card class="content-main-card">
       
        <img mat-card-image src={{image}} alt="Photo of a Shiba Inu">
        <mat-card-content >
            <div >
    
                <p>
                {{professional}}
                </p>
          
                <span>{{description}}</span>
            </div>
        </mat-card-content>
        <mat-card-actions >
            <div class="content-footer-card">
    
                <button mat-raised-button  >Conferir</button>
            </div>
         
        </mat-card-actions>
      </mat-card>
      
</div>