<form class="form-content-send-message">
  <div class="form-group">
    <div class="form-group-text">
      <p>Endereço</p>
      <span>Av. Paulista, 302</span>
    </div>
    <div>
      <input type="text" placeholder="Seu nome" />
    </div>
  </div>


  <div class="form-group">
    <div class="form-group-text">
      <p>Site</p>
      <span>www.developer.com.br</span>
    </div>
    <div>
      <input type="text" placeholder="Seu Email" />
    </div>
  </div>

  <div class="form-group">
    <div class="form-group-text">
      <p>Email</p>
      <span>developer@dev.com.br</span>
    </div>
    <div>
      <input type="text" placeholder="Telefone" />
    </div>
  </div>

  <div class="form-group">
    <div class="form-group-text">
      <p>Telefone</p>
      <span>(11)2727-3030</span>
    </div>
    <div>
      <textarea  placeholder="Seu nome"></textarea>
    </div>
  </div>

  <div class="form-group-div-button">

    <button mat-raised-button  >Enviar</button>
  </div>
</form>
